@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: auto;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    align-items: center;
    margin-bottom: 50px;
}

header .logo {
    flex: 3;
}

header nav {
    flex: 2;
}

header img {
    width: auto;
    height: 64px;
    padding: 10px;

}


nav ul {

    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

nav ul li:hover a {
    color: crimson;
}

nav ul li a {
    text-decoration: none;
    color: rgb(54, 53, 53);



}

.menuicon {
    display: none;
}

.bio {
    text-align: center;
}

.bio h1 {
    color: crimson;
    text-decoration: underline;
}

.bio p {
    color: gray;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    padding: 3%;
}

.card {
    padding: 15px;
    border: 1px solid rgb(180, 179, 179);
    background-color: #f5f5f5;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    border-radius: 3px;

}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    margin-bottom: 0px;
}

.card p {
    color: gray;
    margin-top: 5px;

}

.card a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: black;
    color: #f5f5f5;
    border-radius: 3px;
}

.card a:hover {
    text-decoration: none;
    padding: 5px 10px;
    background-color: gray;
    color: black;
    border-radius: 3px;
}

footer {
    text-align: center;
    background-color: black;
    color: #f5f5f5;
    padding: 1PX;

}

@media(max-width:450px) {

    nav {
        display: none;
    }

    .menuicon {
        display: block;
    }


}

@media(max-width:700px) {

    nav {
        display: none;
    }

    .menuicon {
        display: block;
    }

    .container {

        grid-template-columns: auto auto;

    }
}

@media(max-width:390px) {

    .container {

        grid-template-columns: auto;

    }

}

.dropbtn {
    color: rgb(54, 53, 53);
    background-color: #f5f5f5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}